{% extends "layout.html" %}
{% block content %}
<div>
    <table class="styled-table">
        <tr>
            <td>
    <table class="styled-table">
<!--      <p>{{ hero }}</p>-->
      <tr>
        <td><h1>{{ hero['name']}} the {{ hero['title'] }}</h1></td>
      </tr>
        <tr>
        <td>Name</td>
        <td>{{ hero['name'] }}</td>
      </tr>
      <tr>
        <td>Ancestry</td>
        <td>{{ hero['ancestry'] }}</td>
      </tr>
      <tr>
        <td>Class</td>
        <td>{{ hero['hero_class'] }}</td>
      </tr>
      <tr>
        <td>Title</td>
        <td>{{ hero['title'] }}</td>
      </tr>
       <tr>
        <td>Alignment</td>

         <td>{{ hero['alignment'] }}</td>
<!--        <td>{{ hero['alignment'][0] }}</td>-->
      </tr>
       <tr>
        <td>Background</td>
        <td>{{ hero['background'] }}</td>
      </tr>
        <tr>
        <td>Religion</td>
         {% for key,value in hero['deity'].items() %}
         <td>{{ key }}</td>
        {% endfor %}
<!--        <td>{{ hero['alignment'][0] }}</td>-->
      </tr>
    </table>


</td>
            <td>
    <table class="styled-table">
        <tr>
        <td>Hit Points</td>
        <td>{{ hero['hp'] }}</td>
      </tr>

      <tr>
        <td>Armor Class</td>
        <td>{{ hero['ac'] }}</td>
      </tr>
    </table>

    <table class="styled-table">
      <tr>
        <td>Strength: </td>
        <td>{{ hero['str']}}</td>
        <td>Mod: {{ hero['str_mod'] }}</td>
      </tr>
      <tr>
        <td>Intelligence: </td>
        <td>{{ hero['int']}}</td>
        <td>Mod: {{ hero['int_mod'] }}</td>
      </tr>
      <tr>
        <td>Dexterity: </td>
        <td>{{ hero['dex']}}</td>
        <td>Mod: {{ hero['dex_mod'] }}</td>
      </tr>
      <tr>
        <td>Wisdom: </td>
        <td>{{ hero['wis']}}</td>
        <td>Mod: {{ hero['wis_mod'] }}</td>
      </tr>
      <tr>
        <td>Constitution: </td>
        <td>{{ hero['con']}}</td>
        <td>Mod: {{ hero['con_mod'] }}</td>
      </tr>
      <tr>
        <td>Charisma: </td>
        <td>{{ hero['cha']}}</td>
        <td>Mod: {{ hero['cha_mod'] }}</td>
      </tr>
    </table>
</td>
            <td>
                <table class="styled-table">
                    <tr>
                        <td>
                            <b>Packed Items</b>
                        </td>
                    </tr>
    {% for key,value in hero['gear'].items() %}
    <tr>
         <td>{{ key }}:</td>
        {% for quantity, slots in value.items() %}
        <td>  {{ quantity }} </td>
        <td>  {{ slots }} </td>
        {% endfor %}
    </tr>
    {% endfor %}

    <tr>
        <td> <b>Gear spots remaining</b></td>
        <td></td>
        <td></td>
        <td></td>
        <td> <b>{{ hero['gear_slots']}}</b></td>
    </tr>

</table>
            </td>
        </tr>
    </table>


<div>
<table class="styled-table">
    {% for key,value in hero['learned_talents'].items() %}
    <tr>
        <td>{{ key }}:</td>
        <td>  {{ value }} </td>
    </tr>
    {% endfor %}
</table>
</div>

<!--<table class="styled-table">-->
<!--    <caption>Weapon</caption>-->
<!--    {% for key,value in hero['weapon_notes'].items() %}-->
<!--    <tr>-->
<!--        <td>{{ key }}</td>-->
<!--    </tr>-->
<!--    {% endfor %}-->
<!--</table>-->
<!--<br>-->
<div>
<table class="styled-table">
    {% for key,value in hero['weapon_notes'].items() %}
    <tr>
        <td>{{ key }}:</td>
        <td>  {{ value }} </td>
    </tr>
       {% endfor %}

</table>
</div>
<!--<br>-->
<!--<table class="styled-table">-->
<!--    <caption>Armor</caption>-->
<!--    <tr>-->
<!--        <td>Type</td>-->
<!--        <td>{{ hero['armor']['Type'] }}</td>-->

<!--    </tr>-->


<!--</table>-->
<div>

<table class="styled-table">

    {% for key,value in hero['armor'].items() %}
    <tr>
        <td>{{ key }}:</td>
        <td>  {{ value }} </td>
    </tr>
       {% endfor %}

</table>
</div>

<div>
<table class="styled-table">
    {% for key,value in hero['notes'].items() %}
    <tr>
         <td>{{ key }}:</td>
        <td>  {{ value }} </td>
    </tr>
    {% endfor %}

</table>
</div>



{% endblock %}
