<!DOCTYPE html>
<html>
  <body>
    <header>
      <div>
        <h1 class="logo">SD GEN</h1>
        <strong><nav>
          <ul class="menu">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('hero') }}">Generate Hero</a></li>
            <li><a href="{{ url_for('magicweapon') }}">Generate Magic Weapon</a></li>
          </ul>
        </nav></strong>
      </div>
    </header>
    <div>
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>